<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src='/static/tinymce/tinymce.min.js'></script>
</head>
<body>

<textarea id="basic-example">
  <p style="text-align: center;">
    <img title="TinyMCE Logo" src="//www.tiny.cloud/images/glyph-tinymce@2x.png" alt="TinyMCE Logo" width="110" height="97"/>
  </p>
  <p class="pHead">Bí thư Tỉnh ủy Hà Tĩnh Hoàng Trung Dũng đề nghị: các chỉ tiêu KT-XH, QP-AN năm 2021 cần bám sát Nghị quyết Đại hội Đại biểu Đảng bộ tỉnh lần thứ XIX, nhiệm kỳ 2020 - 2025.</p><table
        class="camnhat" cellspacing="0" cellpadding="5"><tbody><tr><td><p class="pBody">Sáng 1/12, Ban Chấp hành Đảng bộ tỉnh Hà Tĩnh khóa XIX tổ chức hội nghị lần thứ hai.</p><p
        class="pBody">Bí thư Tỉnh ủy Hoàng Trung Dũng, Phó Bí thư Thường trực Tỉnh ủy Trần Thế Dũng, Phó Bí thư Tỉnh ủy - Chủ tịch UBND tỉnh Trần Tiến Hưng chủ trì hội nghị.</p><p
        class="pBody">Dự hội nghị có Ủy viên BCH Trung ương Đảng - Chủ tịch HĐND tỉnh Lê Đình Sơn, các Ủy viên Ban Thường vụ Tỉnh ủy, Ủy viên Ban Chấp hành Đảng bộ tỉnh.</p></td></tr></tbody></table><p
        class="" style="text-align: center;"><img class="iCenter" style="width: 1140px; height: 760px; margin: 0px auto;"
                                                  src="//cdn.baohatinh.vn/desktop/news/2048/129d2101322t75114l0.jpg?r=631"
                                                  alt="Xây dựng các chỉ tiêu năm 2021 bám sát Nghị quyết Đại hội Đảng bộ tỉnh Hà Tĩnh lần thứ XIX" width="1140"
                                                  height="760"><i id="imgcaption0" class="iCaption" style="text-align:center;width:684px">Hội nghị Ban Chấp hành Đảng bộ tỉnh khóa XIX lần thứ hai được tổ chức sáng 1/12/2020.</i></p><p
        class="" style="text-align: center;"><img class="iCenter" style="width: 1140px; height: 760px; margin: 0px auto;"
                                                  src="//cdn.baohatinh.vn/desktop/news/2048/129d2101421t89412l0.jpg?r=809"
                                                  alt="Xây dựng các chỉ tiêu năm 2021 bám sát Nghị quyết Đại hội Đảng bộ tỉnh Hà Tĩnh lần thứ XIX" width="1140"
                                                  height="760"><i id="imgcaption1" class="iCaption" style="text-align:center;width:684px">Các đồng chí Thường trực Tỉnh ủy chủ trì hội nghị.</i></p><p
        class="" style="text-align: center;"><img class="iCenter" style="width: 1140px; height: 760px; margin: 0px auto;"
                                                  src="//cdn.baohatinh.vn/desktop/news/2048/129d2101439t32018l0.jpg?r=395"
                                                  alt="Xây dựng các chỉ tiêu năm 2021 bám sát Nghị quyết Đại hội Đảng bộ tỉnh Hà Tĩnh lần thứ XIX" width="1140"
                                                  height="760"><i id="imgcaption2" class="iCaption" style="text-align:justify;width:684px">Ủy viên BCH Trung ương Đảng - Chủ tịch HĐND tỉnh Lê Đình Sơn, các Ủy viên Ban Thường vụ Tỉnh ủy, Ủy viên Ban Chấp hành Đảng bộ tỉnh dự hội nghị.</i></p><p
        class="pInterTitle" style="text-align: center;">Phấn đấu năm 2021, GRDP bình quân đầu người trên 69 triệu đồng</p><p class="pBody">Tại hội nghị, đại biểu đã được nghe báo cáo tình hình KT-XH, QP-AN năm 2020, phương hướng, mục tiêu, nhiệm vụ năm 2021; báo cáo đầu tư công trung hạn giai đoạn 2016 - 2020 và dự kiến phân bổ vốn đầu tư công trung hạn 2021 - 2025.</p><p
        class="" style="text-align: center;"><img class="iCenter" style="width: 1140px; height: 760px; margin: 0px auto;"
                                                  src="//cdn.baohatinh.vn/desktop/news/2048/129d2101600t34180l0.jpg?r=954"
                                                  alt="Xây dựng các chỉ tiêu năm 2021 bám sát Nghị quyết Đại hội Đảng bộ tỉnh Hà Tĩnh lần thứ XIX" width="1140"
                                                  height="760"><i id="imgcaption3" class="iCaption" style="text-align:center;width:684px">Giám đốc Sở KH&amp;ĐT Trần Tú Anh báo cáo tình hình KT-XH, QP - AN năm 2020, phương hướng, mục tiêu, nhiệm vụ năm 2021.</i></p><p
        class="pBody">Năm 2020, mặc dù đã linh hoạt, quyết liệt trong điều hành, chỉ đạo với quyết tâm cao hoàn thành mục tiêu, kế hoạch đề ra nhưng do tình hình dịch Covid-19 kéo dài những tháng đầu năm, cuối năm ảnh hưởng của mưa lũ nên đã ảnh hưởng đến kết quả thực hiện các chỉ tiêu KT-XH cũng như đời sống nhân dân.</p><p
        class="pBody">Ước tính tăng trưởng kinh tế Hà Tĩnh năm 2020 đạt 2,23%; GRDP bình quân đầu người đạt gần 63 triệu đồng. Thu hút đầu tư trong nước tuy giảm số lượng dự án nhưng tổng vốn đầu tư đăng ký của các dự án được chấp thuận chủ trương đầu tư tăng 76,9% so cùng kỳ.</p><p
        class="" style="text-align: center;"><img class="iCenter" style="width: 1140px; height: 760px; margin: 0px auto;"
                                                  src="//cdn.baohatinh.vn/desktop/news/2048/129d2101714t77807l0.jpg?r=346"
                                                  alt="Xây dựng các chỉ tiêu năm 2021 bám sát Nghị quyết Đại hội Đảng bộ tỉnh Hà Tĩnh lần thứ XIX" width="1140"
                                                  height="760"><i id="imgcaption4" class="iCaption" style="text-align:justify;width:684px">Phó Bí thư Thường trực Tỉnh ủy Trần Thế Dũng trình bày tờ trình của Ban Thường vụ Tỉnh ủy về ban hành Nghị quyết của Ban Chấp hành Đảng bộ tỉnh về tình hình KT-XH, QP - AN năm 2020, phương hướng, mục tiêu, nhiệm vụ năm 2021</i></p><p
        class="pBody">Sản xuất nông nghiệp và thực hiện chương trình MTQG xây dựng nông thôn mới (NTM) đạt một số kết quả tích cực. Công tác cải cách hành chính, cải thiện môi trường đầu tư được tập trung chỉ đạo.</p><div
        id="ad_center_600x120" class="oad"></div><p class="pBody">Các lĩnh vực văn hóa, xã hội tiếp tục được quan tâm; tỉnh đã kiểm soát tốt dịch bệnh Covid-19, đạt mục tiêu quan trọng nhất là bảo vệ sức khỏe Nhân dân; công tác khắc phục lũ lụt được tập trung cao. An ninh chính trị, trật tự an toàn xã hội được giữ vững.</p><p
        class="" style="text-align: center;"><img class="iCenter" style="width: 1140px; height: 760px; margin: 0px auto;"
                                                  src="//cdn.baohatinh.vn/desktop/news/2048/129d2101743t38864l0.jpg?r=909"
                                                  alt="Xây dựng các chỉ tiêu năm 2021 bám sát Nghị quyết Đại hội Đảng bộ tỉnh Hà Tĩnh lần thứ XIX" width="1140"
                                                  height="760"><i id="imgcaption5" class="iCaption" style="text-align:justify;width:684px">Bí thư Huyện ủy Nghi Xuân Phan Tấn Linh: <em>Nhóm giải pháp về cơ chế, chính sách phát triển kinh tế nói chung và NTM cần rõ hơn trong bối cảnh hiện nay, đặc biệt trong các lĩnh vực du lịch, dịch vụ, nông nghiệp…</em></i></p><p
        class="pBody">Tuy nhiên, năm 2020 tỉnh có nhiều chỉ tiêu không đạt kế hoạch đề ra.</p><p class="pBody">Trong đó, một số chỉ tiêu quan trọng như: tốc độ tăng trưởng kinh tế đạt thấp nhất kể từ năm 2016 lại nay; thu ngân sách từ xuất nhập khẩu giảm mạnh; huy động vốn đầu tư toàn xã hội đạt thấp, đặc biệt là huy động vốn FDI chỉ đạt 30,5% kế hoạch.</p><p
        class="" style="text-align: center;"><img class="iCenter" style="width: 1140px; height: 760px; margin: 0px auto;"
                                                  src="//cdn.baohatinh.vn/desktop/news/2048/129d2112845t17542l0.jpg?r=133"
                                                  alt="Xây dựng các chỉ tiêu năm 2021 bám sát Nghị quyết Đại hội Đảng bộ tỉnh Hà Tĩnh lần thứ XIX" width="1140"
                                                  height="760"><i id="imgcaption6" class="iCaption" style="text-align:center;width:684px">Bí thư Thị ủy Kỳ Anh Đặng Văn Thành: <em>Thời gian tới, tỉnh cần có các cơ chế cụ thể tháo gỡ khó khăn cho doanh nghiệp hoạt động.</em></i></p><p
        class="pBody">Ngoài ra, sản xuất nông nghiệp đối mặt với nhiều dịch bệnh; các tồn đọng, vướng mắc về đất đai còn nhiều và chậm được tháo gỡ, nhất là đối với các dự án đầu tư có sử dụng đất và đất có nguồn gốc trước năm 1980; việc khai thác đất, cát trái phép còn diễn ra; sự vào cuộc của hệ thống chính trị thực hiện chính sách du lịch chưa đồng bộ…</p><p
        class="pBody">Trên cơ sở các kết quả đã đạt được, năm 2021, dự thảo báo cáo của UBND tỉnh xác định 13 nhóm chỉ tiêu chủ yếu và 10 nhiệm vụ, giải pháp chủ yếu.</p><p
        class="pBody">Một số chỉ tiêu trọng tâm như: tốc độ tăng trưởng kinh tế trên 9%; GRDP bình quân đầu người trên 69 triệu đồng; tổng thu ngân sách đạt trên 12.000 tỷ đồng; giảm tỷ lệ hộ nghèo 1,5 - 2%; độ che phủ rừng trên 52%; có thêm ít nhất 5 xã và 2 đơn vị cấp huyện đạt chuẩn NTM, 8 xã đạt chuẩn NTM nâng cao, 2 xã đạt chuẩn NTM kiểu mẫu; có tối thiểu 50 sản phẩm được chứng nhận đạt chuẩn OCOP, trong đó có sản phẩm OCOP 5 sao; 100% xã, phường ổn định chính trị…</p><p
        class="" style="text-align: center;"><img class="iCenter" style="width: 1140px; height: 760px; margin: 0px auto;"
                                                  src="//cdn.baohatinh.vn/desktop/news/2048/129d2112323t58536l0.jpg?r=382"
                                                  alt="Xây dựng các chỉ tiêu năm 2021 bám sát Nghị quyết Đại hội Đảng bộ tỉnh Hà Tĩnh lần thứ XIX" width="1140"
                                                  height="760"><i id="imgcaption7" class="iCaption" style="text-align:center;width:684px">Chủ tịch UBND tỉnh Trần Tiến Hưng giải trình một số nội dung trong dự thảo báo cáo.</i></p><p
        class="pBody">Hội nghị cũng được nghe tờ trình của Ban Thường vụ Tỉnh ủy về ban hành Nghị quyết của Ban Chấp hành Đảng bộ tỉnh về tình hình KT-XH, QP-AN năm 2020, phương hướng, mục tiêu, nhiệm vụ năm 2021.</p><p
        class="pBody">Tại hội nghị, đại biểu phân tích các nguyên nhân chủ quan và khách quan về các chỉ tiêu không đạt theo kế hoạch. Đại biểu đề nghị báo cáo bổ sung kết quả rõ hơn trên lĩnh vực nông nghiệp, công tác khắc phục hậu quả lũ lụt; phân tích kỹ hơn các nội dung còn tồn tại và nguyên nhân chủ quan của tồn tại.</p><p
        class="" style="text-align: center;"><img class="iCenter" style="width: 1140px; height: 760px; margin: 0px auto;"
                                                  src="//cdn.baohatinh.vn/desktop/news/2048/129d2112342t60545l0.jpg?r=994"
                                                  alt="Xây dựng các chỉ tiêu năm 2021 bám sát Nghị quyết Đại hội Đảng bộ tỉnh Hà Tĩnh lần thứ XIX" width="1140"
                                                  height="760"></p><blockquote class="trichdan"><div class="content"><p class="pBody">Năm 2021 là năm đầu tiên triển khai Nghị quyết Đại hội Đảng bộ tỉnh lần thứ XIX, vì vậy, toàn Đảng bộ cần quyết tâm cao, nỗ lực lớn, hành động quyết liệt. Việc xác định chỉ tiêu, mục tiêu năm 2021 cần xem xét kỹ lưỡng, đảm bảo đưa Nghị quyết Đại hội đi vào cuộc sống, trong đó cần chú trọng đánh giá những kết quả đã đạt được, tập trung giải quyết các vấn đề còn tồn đọng…</p></div><div
        class="author" style="text-align: right;"><strong>Ủy viên Ban Chấp hành Trung ương Đảng - Chủ tịch HĐND tỉnh Lê Đình Sơn</strong></div></blockquote><p
        class="pBody">Đồng tình cao với các nhóm chỉ tiêu năm 2021, đại biểu cho rằng, thời gian tới giải pháp cần tập trung là: cải thiện môi trường đầu tư kinh doanh; tập trung giải quyết các vấn đề còn tồn đọng; đẩy mạnh cải cách hành chính, ứng dụng công nghệ thông tin; tập trung chương trình xây dựng NTM, đô thị văn minh…</p><p
        class="pInterTitle" style="text-align: center;">Thẳng thắn phân tích nguyên nhân hạn chế để xác định rõ giải pháp khắc phục</p><p class="pBody">Kết luận hội nghị, Bí thư Tỉnh ủy Hoàng Trung Dũng đánh giá cao các ý kiến phát biểu thẳng thắn, chất lượng của các đại biểu.</p><p
        class="" style="text-align: center;"><img class="iCenter dthumb" style="width: 1140px; height: 760px; margin: 0px auto;"
                                                  src="//cdn.baohatinh.vn/desktop/news/2048/127d2144431t3413l4-129d2112355t90260l0.jpg"
                                                  alt="Xây dựng các chỉ tiêu năm 2021 bám sát Nghị quyết Đại hội Đảng bộ tỉnh Hà Tĩnh lần thứ XIX" width="1140"
                                                  height="760"><i id="imgcaption8" class="iCaption" style="text-align:center;width:684px">Bí thư Tỉnh ủy Hoàng Trung Dũng kết luận hội nghị.</i></p><p
        class="pBody">Bí thư Tỉnh ủy đề nghị Ban Cán sự đảng UBND tỉnh cần đánh giá sát đúng hơn các nhận định về thu hút đầu tư; dịch bệnh trong gia súc, gia cầm; kết quả khắc phục thiên tai, đặc biệt trong đợt lũ tháng 10/2020; đánh giá rõ hơn về kết quả công tác cải cách hành chính; tuyển dụng, tinh giản biên chế, số cán bộ công chức bị xử lý kỷ luật; thực hiện Chỉ thị số 42-CT/TU về tổ chức phong trào thi đua lập thành tích chào mừng đại hội Đảng các cấp, Đại hội Đảng bộ tỉnh lần thứ XIX, tiến tới Đại hội lần thứ XIII của Đảng. Báo cáo cũng cần nêu rõ những hạn chế để từ đó xác định rõ giải pháp khắc phục.</p><p
        class="pBody">Bí thư Tỉnh ủy cũng yêu cầu, dự thảo báo cáo cần bổ sung đánh giá rõ hơn những nguyên nhân khó khăn gây ảnh hưởng đến tình hình phát triển KT-XH của tỉnh; phần kết quả cần cập nhật các số liệu đảm bảo chính xác, trung thực; làm rõ hơn phối hợp giữa các lực lượng vũ trang trong thực hiện các nhiệm vụ chính trị, đảm bảo an ninh trật tự, an toàn xã hội.</p><p
        class="pBody">Đồng thời, tiếp tục soát xét các chỉ tiêu KT-XH, QP-AN năm 2021, cần bám sát nghị quyết Đại hội Đảng bộ tỉnh lần thứ XIX, nhiệm kỳ 2020 - 2025. Trong đó, chú trọng xem xét kỹ chỉ tiêu: tỷ lệ giảm nghèo phải phù hợp thực tiễn, các quy định; tỷ lệ che phủ rừng; tỷ lệ trẻ em bị suy dinh dưỡng...</p><p
        class="pBody">Đối với các nội dung liên quan đến đầu tư công, cần đảm bảo thực hiện theo nguyên tắc, tiêu chí và định mức phân bổ; đầu tư có trọng tâm, trọng điểm, chiến lược, tránh phân tán, dàn trải. Các dự án đầu tư công phải đảm bảo phát triển hài hòa giữa các vùng miền, khu vực.</p><div
        class="drelated"><strong>Tin liên quan:</strong><ul class="title-thumb-and-sapo"><li><a
        title="Quán triệt, phổ biến rộng rãi Nghị quyết Đại hội Đảng bộ tỉnh lần thứ XIX trong ..."
        href="/xay-dung-dang/quan-triet-pho-bien-rong-rai-nghi-quyet-dai-hoi-dang-bo-tinh-lan-thu-xix-trong-dang-vien-nhan-dan/201508.htm"><img
        src="/media/120/news/2044/105d4202548t2667l2-106d4111732t28267l0.jpg"
        alt="Xây dựng các chỉ tiêu năm 2021 bám sát Nghị quyết Đại hội Đảng bộ tỉnh Hà Tĩnh lần thứ XIX"></a><div><strong><a
        title="Quán triệt, phổ biến rộng rãi Nghị quyết Đại hội Đảng bộ tỉnh lần thứ XIX trong ..."
        href="/xay-dung-dang/quan-triet-pho-bien-rong-rai-nghi-quyet-dai-hoi-dang-bo-tinh-lan-thu-xix-trong-dang-vien-nhan-dan/201508.htm">Quán triệt, phổ biến rộng rãi Nghị quyết Đại hội Đảng bộ tỉnh lần thứ XIX trong ...</a></strong><p
        class="head">Để thực hiện hiệu quả Nghị quyết Đại hội đại biểu Đảng bộ tỉnh lần thứ XIX nhiệm kỳ 2020 - 2025, Ban Thường vụ Tỉnh ủy Hà Tĩnh vừa ban hành kế hoạch tổ chức học tập, quán triệt, tuyên truyền và triển khai thực hiện.</p></div></li><li><a
        title="Tiếp tục hoàn thiện Quy chế làm việc của Ban Chấp hành Đảng bộ tỉnh Hà Tĩnh ..."
        href="/chinh-tri/tiep-tuc-hoan-thien-quy-che-lam-viec-cua-ban-chap-hanh-dang-bo-tinh-ha-tinh-khoa-xix/201501.htm"><img
        src="/media/120/news/2044/129d4151550t28226l0.jpg" alt="Xây dựng các chỉ tiêu năm 2021 bám sát Nghị quyết Đại hội Đảng bộ tỉnh Hà Tĩnh lần thứ XIX"></a><div><strong><a
        title="Tiếp tục hoàn thiện Quy chế làm việc của Ban Chấp hành Đảng bộ tỉnh Hà Tĩnh ..."
        href="/chinh-tri/tiep-tuc-hoan-thien-quy-che-lam-viec-cua-ban-chap-hanh-dang-bo-tinh-ha-tinh-khoa-xix/201501.htm">Tiếp tục hoàn thiện Quy chế làm việc của Ban Chấp hành Đảng bộ tỉnh Hà Tĩnh ...</a></strong><p
        class="head">Bí thư Tỉnh ủy Hà Tĩnh Hoàng Trung Dũng yêu cầu: Quy chế làm việc của Ban Chấp hành Đảng bộ tỉnh lần thứ XIX phải đảm bảo sự lãnh đạo toàn diện của Đảng, phân cấp, phần quyền trong Đảng, tạo điều kiện để chính quyền hoạt động hiệu quả.</p></div></li><li><a
        title="Tiếp thu tối đa, giải trình nghiêm túc các góp ý vào văn kiện trình Đại hội ..."
        href="/xay-dung-dang/tiep-thu-toi-da-giai-trinh-nghiem-tuc-cac-gop-y-vao-van-kien-trinh-dai-hoi-dang-bo-ha-tinh-lan-thu-xix/200200.htm"><img
        src="/media/120/news/2041/106d5174445t20760l0.jpg" alt="Xây dựng các chỉ tiêu năm 2021 bám sát Nghị quyết Đại hội Đảng bộ tỉnh Hà Tĩnh lần thứ XIX"></a><div><strong><a
        title="Tiếp thu tối đa, giải trình nghiêm túc các góp ý vào văn kiện trình Đại hội ..."
        href="/xay-dung-dang/tiep-thu-toi-da-giai-trinh-nghiem-tuc-cac-gop-y-vao-van-kien-trinh-dai-hoi-dang-bo-ha-tinh-lan-thu-xix/200200.htm">Tiếp thu tối đa, giải trình nghiêm túc các góp ý vào văn kiện trình Đại hội ...</a></strong><p
        class="head">Tại phiên bế mạc, thay mặt Đoàn Chủ tịch, Phó Bí thư Tỉnh ủy - Chủ tịch UBND tỉnh Trần Tiến Hưng trình bày tổng hợp, tiếp thu, giải trình nghiêm túc các ý kiến góp ý vào văn kiện trình Đại hội Đảng bộ tỉnh lần thứ XIX.</p></div></li></ul><div
        class="clr"></div></div><p class="pAuthor">Thu Hà - Lê Tuấn</p>
</textarea>

<script>
    tinymce.init({
        selector: 'textarea#basic-example',
        height: 500,
        menubar: false,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount',
            'image'
        ],
        menubar: "insert",
        toolbar: 'undo redo | formatselect | ' +
            'bold italic backcolor | alignleft aligncenter ' +
            'alignright alignjustify | bullist numlist outdent indent | ' +
            'removeformat | help',

        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
    });

</script>

</body>
</html>